@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "SF Pro text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif;
	color: rgb(var(--foreground-rgb));
	background-color: #fafafa;
	letter-spacing: -0.03125rem;
	line-height: 125%;
	font-size: 16px;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.grid-cols-16 {
		grid-template-columns: repeat(16, minmax(0, 1fr));
	}
	.col-span-13 {
		grid-column: span 13 / span 13;
	}
	.card-image {
		width: 140px;
		@media (min-width: 768px) {
			width: clamp(80px, 14vw, 140px);
		}
		@media (min-width: 1024px) {
			width: clamp(80px, 10vw, 140px);
		}
	}
}
